<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Bundle Id="FluxoInstallerBundle" Name="fluxo" Manufacturer="fluxo" Version="$(var.FluxoInstallerVersion)" UpgradeCode="{A388A981-8C98-40B9-8B25-3A638D0BDA84}">
		<BootstrapperApplication SourceFile="$(var.ManagedBootstrapperExe)">
			<PayloadGroupRef Id="ManagedBootstrapperPayloads" />
		</BootstrapperApplication>

		<Variable Name="InstallFolder" Type="string" Value="C:\Program Files\fluxo" />

		<Chain>
			<MsiPackage
				Id="FluxoMsi"
				SourceFile="$(var.Fluxo.Installer.Msi.TargetPath)"
				Vital="yes"
				Cache="keep"
				Compressed="yes"
				ForcePerMachine="yes">
				<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
			</MsiPackage>
		</Chain>
	</Bundle>
</Wix>
