<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="FluxoAppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.FluxoAppOutputDir)\*">
        <Exclude Files="$(var.FluxoAppOutputDir)\*.db" />
      </Files>
      <Files Include="$(var.FluxoAppOutputDir)\**">
        <Exclude Files="$(var.FluxoAppOutputDir)\*" />
        <Exclude Files="$(var.FluxoAppOutputDir)\**\*.db" />
      </Files>
      <Component Id="FluxoInstalledVersionRegistryValue">
        <RemoveRegistryKey
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\fluxo"
          Action="removeOnUninstall" />
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\fluxo"
          Name="InstalledVersion"
          Value="$(var.FluxoMsiVersion)"
          Type="string"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
