<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="FluxoAppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.FluxoAppOutputDir)\**">
        <Exclude Files="$(var.FluxoAppOutputDir)\**\*.db" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
